<!-- <div class="box-validate container">
  <div class="row">
    <div class="col-12">
      <div class="box-info">
          <img src="assets/img/register/message.png" alt="">
          <h1>Hemos enviado al correo un código de validación ingreselo y listo
            </h1>
            <div class="box-input">
              <input type="text" [(ngModel)]="date1" name="dateUno" id="date1" maxlength="1">
              <input type="text" [(ngModel)]="date2" name="datoDos" id="date2" maxlength="1">
              <input type="text" [(ngModel)]="date3" name="datpTres" id="date3" maxlength="1">
              <input type="text" [(ngModel)]="date4" name="datoCuatro" id="date4" maxlength="1">
              
            </div>
            <button [disabled]="val()" (click)="sendResssgister()">Registrarme</button>
            <a class="sub" [routerLink]="[ '/login']">Volver a enviar el correo</a>
      </div>
    </div>
  </div>
</div> -->