// MAIN COLOR
// COLOR GENERALS
// COLOR AVIVACURA
// COLOR AVIVACUIDA

// COLORES MAIN
$color-primary : #062F51;
$color-secundary:#92DCE8;
$color-beige:#E6E6E4;
$color-beige-oscuro: #D5D5D5;
$color-beige-oscuro-2: #50504F;

$color-beige-tabla: #F1F1F1;
$color-beige-tabla-2:#E9E9E9;

// COLORS FOR NAME
$color-white: white;

//COLORS BASE


$color-blue01: #20668B;
$color-blue02: #062F51;
$color-blue03: #519DB9;
$color-blue04: #347699;
$color-blue05: #3A83A9;


$color-orange: #FB6E54;
$color-orange2:#EB533A;
$color-orange3:#E1924F;

$color-orange-aviva: #EB954D;
$color-tele: #400082;
$color-blue-hover: #519DB9;

$color-green-avivacuida: #00ACA0;
$color-green-avivacuida02: #006E67;
$color-green-avivacuida03: #4DCD30;

$color-gray-1: #50504F;

$color-table-celdas: #E9E9E9;

$color-blue-span:#78b9d2;

$text-disabled: rgba(255, 255, 255, 0.4);