<h1>Escoge entre estas especialidades</h1>
<div class="row">
    <div class="col center">
        <a href="https://www.aviva.pe/reservas/avivacuida/selecciona-doctor/38/ginecologia-preventiva">
            <button class="btn btn-rounded gineco">
                Ginecología
            </button>
        </a>
    </div>
    <div class="col center">
        <!-- <a href="https://www.aviva.pe/reservas/avivacuida/selecciona-doctor/39/pediatria-preventiva"> -->
            <button class="btn btn-rounded pediatri" (click)="openPagePediatria()">
                Pediatría
            </button>
        <!-- </a> -->
    </div>
</div>
