h1{
    color:#4b778d;
    font-size:2em;
    text-align: center;
    margin-top:20px;
    margin-bottom:40px;
    margin-left:80px;
    margin-right: 80px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gineco{
    background: #ff8882;
    color:#fff;
    height: 60px;
    width: 180px;
    font-size:1.5em;
}
.pediatri{
    background: #ffc93c;
    color:#000;
    height: 60px;
    width: 180px;
    font-size:1.5em;
}