.no-border{
    border-radius: 0 !important;
  }
  .containerPage{
    width:95%;
    margin-left:2.5%;
    position: absolute;
    top:120px;
    min-height: 70vh;
    height: 100%!important;
}
.cabecera{
  width:100%;
  position: absolute;
  top:0;
  left:0;
}
.aviva-cuida-section{
  background: #FB6E54;
  min-height: 80vh;
  height: auto!important;
}