.no-border{
    border-radius: 0 !important;
  }
  .containerPage{
    width:95%;
    margin-left:2.5%;
    position: absolute;
    top:120px;
    max-height: 70vh!important;
}
.cabecera{
  width:100%;
  position: absolute;
  top:0;
  left:0;
}
.aviva-cuida-section{
  background: #FB6E54;
  height: 83vh!important;
}