.box-login{
    .box-content-login{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: $color-white;
        p{
            color: #20668B;
            margin-top: -9px;
            margin-bottom: 20px;
        }
        .box-create-acount-home{
            margin-top: 15px;
            position: relative;
            width: 108%;
            text-align: center;
            background-color: #ECECEC;
            padding-bottom: -15px;
            height: 300p;
            height: 100%;
            margin-bottom: -24px;
            padding-bottom: 33px;
            padding-top: 15px;
            border-radius: 0 51px 0 0;
            @media (max-width:992px) {
                 width: 118%;
                
            }
            @media (max-width:330px) {
                width: 124%;
               
           }
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: -40px;
                height: 41px;
                width: 65px;
                background-image: url('/../assets/home/curva.svg');
                background-repeat: no-repeat;
            }

            button{
                margin: 0;
                @media (max-width:992px) {
                    width: 80% !important;
                   
               }
            }
            .box-background{
                position: absolute;
                top: 0;
                left: 0;
                background-color: #ECECEC;
            }
        }
    }
}