.especialidades-details-content {
  background-color: $color-blue01;
  .box-select-planes {
    display: flex;
    align-content: center;
    .box-select-mobile {
      width: 50%;
    }
    .box-select-desktop {
      ul {
        div:nth-child(1) {
          margin-right: 80px;
        }
        a {
          @media (min-width: 992px) {
            color: $color-white;
          }
        }
        li {
          @media (min-width: 992px) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            font-family: $avenir-Bold;

            select {
              color: $color-white;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .planes-programas-header {
    height: 436px;
    margin-bottom: 40px;
    overflow: hidden;
    @media (min-width: 1024px) {
      height: 62vh;
    }
    source,
    img {
      border-radius: 0 0 60px 0;
      @media (min-width: 992px) {
        border-radius: 0 0 200px 0;
      }
    }
    .planes-programas-box-text {
      align-items: flex-start;
      > div {
        width: 90%;
        @media (max-width: 320px) {
          padding-top: 30px;
        }
        @media (max-width: 992px) {
          padding-top: 116px;
        }
        @media (min-width: 992px) {
          width: 40%;
          height: 65%;
          min-width: 530px;
        }
        @media (min-width: 1200px) {
          width: 45%;
        }
        button {
          font-family: $avenir-Bold;
          margin-bottom: 20px;
          margin-top: 25px;
          border-radius: 0 15px 0 0;
          font-size: 18px;
          @media (min-width: 992px) {
            width: 70%;
          }
        }
      }
    }
  }
}
.conoce-mas {
  padding-top: 0;
  display: flex;
  align-items: center;
  @media (min-width: 992px) {
    display: none !important;
  }
  img {
    width: 15px;
    border-radius: 0 !important;
    position: relative;
    overflow: none;
  }
  a {
    margin-left: 8px;
    span {
      font-size: 12px;
      text-decoration: underline;
      color: $color-white;
      font-family: $avenir-Bold;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.container-especialidadles-details {
  @media (min-width: 1024px) {
    padding-top: 143px;
    padding-bottom: 60px;
    background-image: url("/../../assets/conoce-aviva/fondo_azul.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top left;
  }
}

.conoce-especialistas {
  padding-bottom: 40px;
  .conoce-mas {
    padding: 20px 0;
    text-align: center;
    justify-content: center;
    @media (min-width: 992px) {
      display: none !important;
    }
  }
  > div:nth-child(1) {
    h3 {
      font-size: 24px;
      text-align: center;
      color: $color-white;
      font-family: $avenir-Bold;
      text-transform: uppercase;
      @media (min-width: 1024px) {
        text-align: start;
        font-size: 41px;
        line-height: 1.3;
      }
    }

    > p {
      display: none;
      @media (min-width: 1024px) {
        display: block;
        color: $color-white;
        font-family: $avenir-LT;
        line-height: 1.5;
        font-size: 18px;
      }
    }
  }
  div:nth-child(3){
    span::before{
      right: -20px;
      @media (min-width: 1024px) {
        right: -40px;
      
      }
    }
  } 
  > div:nth-child(2) {
    p{
      font-size: 14px;
      margin-bottom: 5px;
      @media (min-width: 1024px) {
        font-size: 18px;
      }
    }
    span{
      font-size: 11px;
      @media (min-width: 1024px) {
        font-size: 15px;
      }
    }
    .tab-planes-programas {
      margin-top: 20px;
    }
    .tab-list-doctores {
      .list-eyp-doctores-items {
        .list-eyp-doctores-item:nth-child(odd) {
          background-color: $color-white;
        }

        .list-eyp-doctores-item:nth-child(even) {
          background-color: $color-beige-tabla;
          height: 93px;
        }
      }
    }
  }
}

.content-especialidades-slider-blue{
  background-color: $color-blue01;

}

.content-especialidades-slider{
  background-color: #347699;
  border-radius: 40px 0 0 0;

  padding: 30px 0 60px;
  margin-bottom: -43px;


  @media (min-width: 1024px) {
    margin-bottom: 0;
    padding: 30px 0 93px;
    border-radius: 100px 0 0 0;
    margin-bottom: -45px;
  
  }
  &-title{
    margin-bottom: 20px;
  
    h3 {
      font-size: 21px;
      text-align: center;
      color: $color-white;
      font-family: $avenir-Bold;
      text-transform: uppercase;
      @media (min-width: 1024px) {
        font-size: 41px;
        line-height: 1.3;
      }
    }
  }
}

.content-especialidades-slider-slider{

  .slider-one-info{
    flex-wrap: wrap;
    height: 39% !important;
    border-radius: 0 50px 0 0 !important;
    @media (max-width: 1024px) {
    border-radius: 0 30px 0 0 !important;
      
    }
    @media (max-width: 700px) {
      height: 47% !important;
        
      }
    p{
      margin-bottom: 10px;
    }
    span{
      font-size: .7em;
      color: $color-blue01;
      font-family: $avenir-LT;
      max-width: 90%;
      line-height: 1.2;
      @media (min-width: 1024px) {
        font-size: 18px;
      }
    }
  }
}

.content-especialidades-footer{
  .content-google{

    background-color: #347699;
    .google-map{
      padding: 30px 15px;

      .line-divisor{
        &::after {
          content: "";
          background-color: rgba(0, 0, 0, 0.12);
      }
      }
    }
  }
}

.title-footer-especialidades-content{
  padding-top: 20px;
}

  .title-footer-especialidades{
    @media (min-width:1024px) {
      padding: 30px 0;
    }
    h3{
      font-size: 21px;
      text-align: center;
      color: $color-blue01;
      font-family: $avenir-Bold;
      text-transform: uppercase;
      margin-bottom: 15px;
      line-height: 27px;
      @media (min-width:1024px) {
        font-size: 41px;
      text-align: start;
      }
    }
  
    .p-especialidades-footer{
      font-size: .9em;
      line-height: 1.3;
    }
  }



.app-especialidades{
  a{
    img{
      width: 70%;
      @media (min-width:1024px) {
        width: 15%;
        margin: auto;
      }
    }
  }
}

.p-especialidades-footer{
  font-size: .9em;
  line-height: 1.3;
  padding-bottom: 20px;

}

.texto-2-title-especialidades-footer{
  @media (min-width:1024px) {
    text-align: start;
    font-size: 18px;
    line-height: 1.3;
  }
}

.app-text{
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  padding-top: 20px;
  margin-top: 10px;
  @media (min-width:1024px) {
    padding-top: 40px;
    margin-top: 40px;
  }
  h3{
    @media (min-width:1024px) {
      text-align: center;
    }
  }
  .p-especialidades-footer{
    @media (min-width:1024px) {
      text-align: center;
      font-size: 18px;
      line-height: 1.3;
    }
  }
}

.swiper-eyd-item{
  height: 220px;
  @media (min-width:1024px) {
    height: 400px;
  
  }
}

.content-tab-eyd{
  .tab-pyp-container{
    box-shadow: 0 0 24px 8px rgba(0,0,0,0.18);
  }
}