<app-cabecera-interna></app-cabecera-interna>
<div class="containerPage">
  <div class="row">
      <div class="col-6">
          <div class="comparativo-de-programas ng-star-inserted" ><div>
              <div class="modal-cuadro-comparativo_title pt-4">
                <h3>COMPARATIVO DE PROGRAMAS PARTO NORMAL</h3>
              </div>
              <div class="table-comparativo">
                <table cellpadding="0" cellspacing="0" border="0">
                  <thead>
                    <tr>
                      <th></th>
                      <th>
                        <span>Parto</span>
                        <p>s/ 1,980</p>
                      </th>
                      <th>
                        <span>Superior</span>
                        <p>s/ 2,370</p>
                      </th>
                      <th>
                        <span>Integral</span>
                        <p>s/ 2,990</p>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td align="start">Habitación individual y sala de bebé</td>
                      <td align="center" class="font-tabla-comparativa">1</td>
                      <td align="center" class="font-tabla-comparativa">1</td>
                      <td align="center" class="font-tabla-comparativa">1</td>
                    </tr>
                    <tr>
                      <td align="start">
                        Atención del parto
                        <span>
                          (Sala multifuncional, honorarios médicos, medicamentos e
                          insumos)</span>
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                    </tr>
                    <tr>
                      <td align="start">Perfil del recién nacido</td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                    </tr>
                    <tr>
                      <td align="start">
                        Consultas prenatales
                        <span>(incluye ecografía de control)</span>
                      </td>
                      <td align="center" class="font-tabla-comparativa">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center" class="font-tabla-comparativa">1</td>
                      <td align="center" class="font-tabla-comparativa">9</td>
                    </tr>
                    <tr>
                      <td align="start">Ecografía del trimestre</td>
                      <td align="center" class="font-tabla-comparativa">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center" class="font-tabla-comparativa">1</td>
                      <td align="center" class="font-tabla-comparativa">1</td>
                    </tr>
                    <tr>
                      <td align="start">
                        Consulta pediátrica
                        <span>(prenatal y recién nacido)</span>
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                    </tr>
                    <tr>
                      <td align="start">Sesiones de psicoprofilaxis</td>
                      <td align="center">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center" class="font-tabla-comparativa">5</td>
                      <td align="center" class="font-tabla-comparativa">5</td>
                    </tr>
                    <tr>
                      <td align="start">Consulta post parto</td>
                      <td align="center">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                    </tr>
                    <tr>
                      <td align="start">Ecografía 4D</td>
                      <td align="center">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div></div>
      </div>   
 
     <div class="col-6">
         <div class="comparativo-de-programas ng-star-inserted"><div>
             <div class="modal-cuadro-comparativo_title pt-4">
               <h3>COMPARATIVO DE PROGRAMAS CESÁREA</h3>
             </div>

             <div class="table-comparativo">
               <table cellpadding="0" cellspacing="0" border="0">
                 <thead>
                   <tr>
                     <th></th>
                     <th>
                       <span>Cesárea</span>
                       <p>s/ 4,350</p>
                     </th>
                     <th>
                       <span>Superior</span>
                       <p>s/ 4,700</p>
                     </th>
                     <th>
                       <span>Integral</span>
                       <p>s/ 5,393</p>
                     </th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td align="start">Perfil preoperatorio</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">
                       Riesgo quirurgico
                       <span>(incluye consulta)</span>
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">2 días de habitación individual y alimentación</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">Sala de operaciones</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">Sala de recuperación</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">
                       Sala de bebe
                       <span>(neonatología)</span>
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">
                       Honorarios médicos
                       <span>(ginecólogo, pediatra)</span>
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">Medicamentos e insumos para el parto</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">Examén de laboratorio del recien nacido</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">consultas prenatales</td>
                     <td align="center" class="font-tabla-comparativa">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                     <td align="center" class="font-tabla-comparativa">9</td>
                   </tr>
                   <tr>
                     <td align="start">Perfil del recién nacido</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">Ecografia de trimestre</td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                   </tr>
                   <tr>
                     <td align="start">Ecografía 4D</td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                   </tr>
                   <tr>
                     <td align="start">Consulta post parto</td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                   </tr>
                   <tr>
                     <td align="start">Consulta pediátrica pre natal</td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                   </tr>
                   <tr>
                     <td align="start">Consulta pediátrica del recien nacido</td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                   </tr>
                   <tr>
                     <td align="start">Sesiones de psicoprofilaxis</td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">5</td>
                     <td align="center" class="font-tabla-comparativa">5</td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </div></div>
          </div>       
     <!--      <div class="col-6 contenedorInfo">
            <h2>Quieres mas información, llena el formulario y obtendrás toda la que necesitas</h2>
          </div> -->
          <div class="col-4"></div>
          <div class="col-4">

            <button class="bt btn-primary" class="botonModalFormulario" (click)="openModalFormulario()">
                Quiero recibir información
            </button>
          </div>
  
</div>
