<app-cabecera-interna></app-cabecera-interna>
<div class="containerPage">
  <div class="row">
      <div class="col-6">
          <div class="comparativo-de-programas ng-star-inserted" ><div>
              <div class="modal-cuadro-comparativo_title pt-4">
                <h3>COMPARATIVO DE PROGRAMAS PARTO NORMAL</h3>
              </div>
              <div class="table-comparativo">
                <table cellpadding="0" cellspacing="0" border="0">
                  <thead>
                    <tr>
                      <th></th>
                      <th>
                        <span>Parto</span>
                        <p>s/ 1,980</p>
                      </th>
                      <th>
                        <span>Superior</span>
                        <p>s/ 2,370</p>
                      </th>
                      <th>
                        <span>Integral</span>
                        <p>s/ 2,990</p>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td align="start">Habitación individual y sala de bebé</td>
                      <td align="center" class="font-tabla-comparativa">1</td>
                      <td align="center" class="font-tabla-comparativa">1</td>
                      <td align="center" class="font-tabla-comparativa">1</td>
                    </tr>
                    <tr>
                      <td align="start">
                        Atención del parto
                        <span>
                          (Sala multifuncional, honorarios médicos, medicamentos e
                          insumos)</span>
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                    </tr>
                    <tr>
                      <td align="start">Perfil del recién nacido</td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                    </tr>
                    <tr>
                      <td align="start">
                        Consultas prenatales
                        <span>(incluye ecografía de control)</span>
                      </td>
                      <td align="center" class="font-tabla-comparativa">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center" class="font-tabla-comparativa">1</td>
                      <td align="center" class="font-tabla-comparativa">9</td>
                    </tr>
                    <tr>
                      <td align="start">Ecografía del trimestre</td>
                      <td align="center" class="font-tabla-comparativa">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center" class="font-tabla-comparativa">1</td>
                      <td align="center" class="font-tabla-comparativa">1</td>
                    </tr>
                    <tr>
                      <td align="start">
                        Consulta pediátrica
                        <span>(prenatal y recién nacido)</span>
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                    </tr>
                    <tr>
                      <td align="start">Sesiones de psicoprofilaxis</td>
                      <td align="center">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center" class="font-tabla-comparativa">5</td>
                      <td align="center" class="font-tabla-comparativa">5</td>
                    </tr>
                    <tr>
                      <td align="start">Consulta post parto</td>
                      <td align="center">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                    </tr>
                    <tr>
                      <td align="start">Ecografía 4D</td>
                      <td align="center">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/nohay.svg" alt="check">
                      </td>
                      <td align="center">
                        <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div></div>
      </div>   
 
     <div class="col-6">
         <div class="comparativo-de-programas ng-star-inserted"><div>
             <div class="modal-cuadro-comparativo_title pt-4">
               <h3>COMPARATIVO DE PROGRAMAS CESÁREA</h3>
             </div>

             <div class="table-comparativo">
               <table cellpadding="0" cellspacing="0" border="0">
                 <thead>
                   <tr>
                     <th></th>
                     <th>
                       <span>Cesárea</span>
                       <p>s/ 4,350</p>
                     </th>
                     <th>
                       <span>Superior</span>
                       <p>s/ 4,700</p>
                     </th>
                     <th>
                       <span>Integral</span>
                       <p>s/ 5,393</p>
                     </th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td align="start">Perfil preoperatorio</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">
                       Riesgo quirurgico
                       <span>(incluye consulta)</span>
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">2 días de habitación individual y alimentación</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">Sala de operaciones</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">Sala de recuperación</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">
                       Sala de bebe
                       <span>(neonatología)</span>
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">
                       Honorarios médicos
                       <span>(ginecólogo, pediatra)</span>
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">Medicamentos e insumos para el parto</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">Examén de laboratorio del recien nacido</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">consultas prenatales</td>
                     <td align="center" class="font-tabla-comparativa">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                     <td align="center" class="font-tabla-comparativa">9</td>
                   </tr>
                   <tr>
                     <td align="start">Perfil del recién nacido</td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                      </td>
                      <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/check_programas.svg" alt="check">
                     </td>
                   </tr>
                   <tr>
                     <td align="start">Ecografia de trimestre</td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                   </tr>
                   <tr>
                     <td align="start">Ecografía 4D</td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                   </tr>
                   <tr>
                     <td align="start">Consulta post parto</td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                   </tr>
                   <tr>
                     <td align="start">Consulta pediátrica pre natal</td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                   </tr>
                   <tr>
                     <td align="start">Consulta pediátrica del recien nacido</td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                     <td align="center" class="font-tabla-comparativa">1</td>
                   </tr>
                   <tr>
                     <td align="start">Sesiones de psicoprofilaxis</td>
                     <td align="center">
                       <img src="../../../../assets/svg/nohay.svg" alt="check">
                     </td>
                     <td align="center" class="font-tabla-comparativa">5</td>
                     <td align="center" class="font-tabla-comparativa">5</td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </div></div>
          </div>       
          <div class="col-6 contenedorInfo">
            <h2>Quieres mas información, llena el formulario y obtendrás toda la que necesitas</h2>
          </div>
    <div class="col-6 formulario">
        <h3>LLena los campos del formulario</h3>
        <div class="modal box-modal-register">
          <div class="box-content-form">
            <!-- BOX NAME -->
            <div class="box-input" [ngClass]="{
                'box-input-load': loaderSession,
                'box-input-error': serviceError
              }">
              <label [ngClass]="{ 'input-active': name != '' }">Nombres</label>
              <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="name"
                (keyup)="onkeyValidateString(name)" (blur)="blurValidateString(name)" [matKeyboard]="name"/>
              <div *ngIf="nameReadyValidate" [ngClass]="{ 'icon2 check': nameValidate, 'icon error': !nameValidate }"></div>
            </div>
  
            <!-- BOX TELEFONO -->
            <div class="box-input" [ngClass]="{
              'box-input-load': loaderSession,
              'box-input-error': serviceError
            }">
            <label [ngClass]="{ 'input-active': phoneNumber != '' }">Telefono</label>
            <input [disabled]="loaderSession" autocomplete="off" type="phone" [(ngModel)]="phoneNumber"
              (keyup)="onkeyValidateString(phoneNumber)" (blur)="blurValidateString(phoneNumber)" [matKeyboard]="phoneNumber"/>
            <div *ngIf="nameReadyValidate" [ngClass]="{ 'icon2 check': phoneValidate, 'icon error': !phoneValidate }"></div>
          </div>
  
          <div class="box-input" [ngClass]="{
            'box-input-load': loaderSession,
            'box-input-error': mailInvalid
          }">
          <label [ngClass]="{ 'input-active': email != '' }">Correo electrónico</label>
          <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="email"
            (keyup)="onkeyValidateString(email)" (blur)="blurValidateString(email)" [matKeyboard]/>
          <span *ngIf="mailInvalid" class="notifiValidate">Este correo ya a sido registrado, intente con otro</span>
          <div *ngIf="emailReadyValidate" [ngClass]="{
              'icon2 check': emailValidate,
              'icon error': !emailValidate
            }"></div>
        </div>
  
            <!-- BOX SEMANA DE EMBARAZO -->
            <div class="box-input" [ngClass]="{
              'box-input-load': loaderSession,
              'box-input-error': serviceError
            }">
            <label [ngClass]="{ 'input-active': week != '' }">Semanas de embarazo</label>
            <input [disabled]="loaderSession" autocomplete="off" type="number" [(ngModel)]="week"
              (keyup)="onkeyValidateString(week)" (blur)="blurValidateString(week)" [matKeyboard]="week"/>
            <div *ngIf="nameReadyValidate" [ngClass]="{ 'icon2 check': nameValidate, 'icon error': !emailValidate }"></div>
          </div>

            <!-- BOX PLAN INTERES -->

        <div class="box-input" [ngClass]="{
          'box-input-load': loaderSession,
          'box-input-error': serviceError
        }">
        <label [ngClass]="{ 'input-active': program != 'Tipo de documento' }">Programa de tu interes</label>
        <select [disabled]="loaderSession" [(ngModel)]="program" (change)="selectDocument($event)">
          <option value=""></option>
          <option value="tipo de documento">Tipo de programa</option>
          <option *ngFor="let item of programas" value="{{ item.name }}">{{ item.name }} S/ {{item.costo}}</option>
          </select>
        </div>

          <button *ngIf="!loaderSession" (click)="saveData()"
          id="button_crear_cuenta_Enviar_Crear_Cuenta">
          ENVIAR
        </button>

        </div>
        </div>
    <!--   <div class="pipedriveWebForms" data-pd-webforms="https://webforms.pipedrive.com/f/2TVHjbw4Nyu3X8FotfuWsvTWEvbyVaZcCpEgTVd9MHGocmn5F30jIHpYaielLddAv">
          <script src="https://webforms.pipedrive.com/f/loader"></script>
      </div>
   -->
  </div>      
</div>
