<div class="close" (click)="onClickNo()"></div>
<div class="modal box-modal-register">
  <h3>
    COMPLETA LOS SIGUIENTES CAMPOS PARA CREAR FAMILIAR
  </h3>

  <!-- BOX FORM -->
  <div class="box-content-form ">
    <!-- BOX NAME -->
    <div class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': name != '' }">Nombres</label>
      <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="name"
        (keyup)="onkeyValidateString(name)" (blur)="blurValidateString(name)" />
      <div *ngIf="nameReadyValidate" [ngClass]="{ 'icon2 check': nameValidate, 'icon error': !nameValidate }"></div>
    </div>

    <!-- BOX LASTNAME PATERNO -->
    <div class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': lastName != '' }">Apellido paterno</label>
      <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="lastName"
        (keyup)="onkeyValidateString(lastName)" (blur)="blurValidateString(lastName)" />
      <div *ngIf="lastNameReadyValidate" [ngClass]="{
          'icon2 check': lastNameValidate,
          'icon error': !lastNameValidate
        }"></div>
    </div>


    <!-- BOX LASTNAME MATERNO -->
    <div class="box-input" [ngClass]="{
       'box-input-load': loaderSession,
       'box-input-error': serviceError
     }">
      <label [ngClass]="{ 'input-active': lastNameMaterno != '' }">Apellido materno</label>
      <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="lastNameMaterno"
        (keyup)="onkeyValidateString(lastNameMaterno)" (blur)="blurValidateString(lastNameMaterno)" />
      <div *ngIf="lastNameMaternoReadyValidate" [ngClass]="{
         'icon2 check': lastNameMaternoValidate,
         'icon error': !lastNameMaternoValidate
       }"></div>
    </div>

    <!-- BOX SEXO -->
    <div class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': sexo != 'Sexo' }">Sexo</label>
      <select [disabled]="loaderSession" [(ngModel)]="sexo" (change)="selecGender($event)">
        <option value=""></option>
        <option value="sexo">Sexo</option>
        <!-- <option *ngFor="let item of gendersService; let i = index" value="{{item.id}}">{{item.name}}</option> -->
        <option *ngFor="let item of sexoData" value="{{ item.id }}">{{
          item.name
        }}</option>
      </select>
    </div>

    <!-- DOCUMENT TYPE -->
    <div class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': document != 'Tipo de documento' }">Tipo de documento</label>
      <select [disabled]="loaderSession" [(ngModel)]="document" (change)="selectDocument($event)">
        <option value=""></option>
        <option value="tipo de documento">Tipo de documento</option>
        <!-- <option *ngFor="let item of gendersService; let i = index" value="{{item.id}}">{{item.name}}</option> -->
        <option *ngFor="let item of tipeDocumentService" value="{{ item.id }}">{{ item.name }}</option>
      </select>
    </div>

    <!-- DOCUMENT NUMBER -->
    <div *ngIf="!hideBox" class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': documentNumber != '' }">Número de documento</label>
      <input maxlength="8" [disabled]="loaderSession || activateDocumentNumber" autocomplete="off" type="tel"
        [(ngModel)]="documentNumber" (keyup)="onkeyValidateString(documentNumber)"
        (blur)="blurValidateString(documentNumber)" />
      <div *ngIf="documentReadyValidate" [ngClass]="{
          'icon2 check': documentValidate,
          'icon error': !documentValidate
        }"></div>
    </div>

    <!-- BIRTHDATE -->
    <div class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': birthday != '' }">Fecha de nacimiento (día/mes/año)</label>
      <input maxlength="10" [disabled]="loaderSession" autocomplete="off" [(ngModel)]="birthday" type="tel"
        (keyup)="validateBirthdate()" (blur)="validateB()" />
      <div *ngIf="birthdayReadyValidate" [ngClass]="{
          'icon2 check': birthdayValidate,
          'icon error': !birthdayValidate
        }"></div>
    </div>

    <!-- PARENTESCO -->
    <div class="box-input" [ngClass]="{
      'box-input-load': loaderSession,
      'box-input-error': serviceError
    }">
      <label [ngClass]="{ 'input-active': parentesco != 'Tipo de Parentesco' }">Parentesco</label>
      <select [disabled]="loaderSession" [(ngModel)]="parentesco" (change)="selecParentesco($event)">
        <option value=""></option>
        <option value="tipo de documento">Selecciona parentesco</option>
        <!-- <option *ngFor="let item of gendersService; let i = index" value="{{item.id}}">{{item.name}}</option> -->
        <option *ngFor="let item of relationsService" value="{{ item.id }}">{{ item.name }}</option>
      </select>
    </div>

  </div>

  <button [disabled]="validateAllInputs()" *ngIf="!loaderSession" mat-raised-button color="primary" (click)="sendForm()"
    id="button_crear_cuenta_Enviar_Crear_Cuenta">
    CREAR DEPENDIENTE
  </button>
  <div *ngIf="loaderSession" class="preloader">
    <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="30">
    </mat-progress-spinner>
  </div>
</div>