.containerParto{
    width:100%!important;
    border-radius: none!important;
    padding: 0;
}
h3{
    text-align: center;
    color:#126e82;
    font-size:1.3em;
}  
.parrafo{
    color:#3c415c;
    text-align: center;
}
button{
    background: #00adb5;
    color:#fff;
    text-align: center;
    width: 300px;
    border-radius: 20px;
    margin-left: calc( 50% - 150px );
    font-size:1.3em;
    margin-top: -1px;
}