.containerPage{
    width:95%;
    margin-left:2.5%;
    position: absolute;
    top:120px;
    max-height: 70vh!important;
    height: 70vh;
}
.cabecera{
  width:100%;
  position: absolute;
  top:0;
  left:0;
}
.box-reserva-finalizada{
  background: #126e82;
  min-height: 80vh!important;
  max-height: 80vh;
}
li{
  height: 110px!important;
}
.icon{
  margin-top:50px;
}
.box-reserva-finalizada ul li {
  padding-top: none!important;
  padding-bottom: none!important;
  
}
.main{
  display: block;
  font-size:3.5em;
  font-weight: 700;
}
.before{
  color:#fff;
  margin-bottom:-50px;
}