<div class="cabecera">
    <app-cabecera-interna></app-cabecera-interna>
  </div>
<div class="containerPage">
    <section class="box-reserva-finalizada container-fluid">
        <div *ngIf="!preloader" class="content-final">
          <div class="row">
      
            <div class="col-12 col-lg-3 padding">
              <div class="box-header">
                <div class="row">
                  <div class="col-12"><span class="main">{{name}}</span></div>
                  <div class="col-12">
                    <p><span class="strong">Tu cita ha sido reservada con éxito</span></p>
                  </div>
                </div>
                <div class="vector-orange">
                  <div class="circle"></div>
                </div>
                <div class="vector-orange-horizontal">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-7 offset-lg-2">
              <ul>
                <li>
                    <div class="content">
                      <h3>Sede:</h3>
                      <p>Aviva - Los Olivos</p>
                      <img src="assets/img/aviva.svg" alt="">
                    </div>
                </li>
                <li>
                  <div class="icon">
                    <img width="35" src="assets/reserva-finalizada/calendario.svg" alt="">
                  </div>
                  <div class="content">
                    <h3>Día:</h3>
                    <p>{{dataService.r_fecha}}</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <img width="35" src="assets/reserva-finalizada/reloj.svg" alt="">
                  </div>
                  <div class="content">
                    <h3>Hora:</h3>
                    <p>{{dataService.hour}}</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <img width="35" src="assets/reserva-finalizada/especialista.svg" alt="">
                  </div>
                  <div class="content">
                    <h3>Especialista:</h3>
                    <p>Dr(a). {{ dataService.professional.fullName}}</p>
                  </div>
                </li>
              </ul>
              <p class="textoNombre"> Gracias {{name}}, te recordamos venir 30 minutos antes de la hora de tu cita. Para salvaguardar tu salud te pedimos el uso de doble mascarilla y asistir solo (a), no se aceptaran acompañantes en el piso de la atención. Tu confirmación de registro de cita, ha sido enviado al correo electrónico que figura en tu historia clínica.</p>
            </div>
          </div>
    
        </div>
        <div *ngIf="preloader" style="    height: 81vh;
                        width: 100%;
           max-width: 101%;" class="preloader" >
          <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="70">
          </mat-progress-spinner>
          <br>
          <br>
          <p class="text-small">Estamos los detalles de tu cita reserva</p>
        </div>
      </section>
</div>