.containerPage{
    width:95%;
    margin-left:2.5%;
    position: absolute;
    top:120px;
    max-height: 70vh!important;
    height: 70vh;
}
.cabecera{
    width:100%;
    position: absolute;
    top:0;
    left:0;
}