<div class="cabecera">
    <app-cabecera-interna></app-cabecera-interna>
  </div>
  <div class="containerPage">
    <section class="box-register aviva-cuida-section content-box-info container-fluid" @fadeIn>
      <div class="row">
        <div class="col-12 col-lg-4 padding">
          <div class="box-header">
            <!-- <p><span class="main-letter">Hola,</span> <br>en base al motivo de tu consulta, <span class="strong">escoge el servicio donde deseas ser atendido</span></p> -->
            <p class="registra">Escogiste una cita para el día
              <span class="strong title-title">{{dateCita}}</span></p>
            <div class="vector-orange">
              <div class="circle"></div>
            </div>
            <div class="vector-orange-horizontal">
              <div class="circle"></div>
            </div>
          </div>
        </div>
    
        <div class="col-12 col-lg-7 offset-lg-1">
          <section class="box-register content-box-info">

            <div class="box-content-form">
              <!-- DOCUMENT NUMBER -->
              <div class="box-input" [ngClass]="{
               'box-input-load': loaderSession,
               'box-input-error': serviceError
             }">
             <label [ngClass]="{ 'input-active': documentNumber != '' }">Número de documento</label>
             <input maxlength="8" [disabled]="loaderSession " autocomplete="off" type="tel"
               [(ngModel)]="documentNumber" (keyup)="onkeyValidateString(documentNumber)"
               (blur)="blurValidateString(documentNumber)" [matKeyboard]/>
               <span *ngIf="dniInvalid" class="notifiValidate">Este correo ya a sido registrado, intente con otro</span>
             <div *ngIf="documentReadyValidate" [ngClass]="{
                 'icon2 check': documentValidate,
                 'icon error': !documentValidate
               }"></div>
           </div>
           <button *ngIf="!loaderSession && activate == false" mat-raised-button color="primary" (click)="getDataDni()"
           id="button_crear_cuenta_Enviar_Crear_Cuenta">
           BUSCAR
         </button>
        </div>
          </section>
        </div>
      </div>
    </section>
    <app-modal-template *ngIf="true"></app-modal-template>
  </div>