<div class="container-fluid">
    <div class="row">
        <div class="col-11">
          <img class="logoAviva" src="assets/images/logo.svg">
      </div>  
      <div class="col-1">
        <mat-icon (click)="goToHome()" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-lg-7 content containerWebHome" (click)="openCura()">
        <h1>Realiza una reserva desde aquí...<br/>Es super rápido y sencillo</h1>
        <div class="botones">
          <div class="row">
            <div class="col cura">
              <div class="row">
                <div class="col-12">
                  <img src="./../../../assets/images/avivacura_logo.svg" alt="">
                </div>
                <div class="col-12">
                  <p>reserva cura</p>
                </div>
              </div>
            </div>
            <div class="col cuida" (click)="openGiencoPediatri()">
              <div class="row">
                <div class="col-12">
                  <img src="./../../../assets/images/avivacuida_logo.svg" alt="">
                </div>
                <div class="col-12">
                  <p>reserva cura</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 