button{
    background-color: $color-primary;
    border: none;
    width: 100%;
    color: $color-white;
    padding: 12px;
    font-size: 12px;
    border-radius: 3px;
    margin: 20px 0px 30px 0px;
    cursor: pointer;
    transition: all 0.2s;

    &:focus{
        outline: none;
    }
    &:hover{
        background-color: #004977;
        transition: all 0.2s;

    }
}

a[disabled], button[disabled], [ion-button][disabled] {
    cursor: default;
    opacity: .4;
    pointer-events: none;
}