
<div class="box-container-loging">
    <div class="close" (click)="onClickNo()"><a style="    display: block;
      width: 100%;
      height: 30px;
      z-index: 100;" id="header_Ir_Iniciar_Sesion_Header_Cerrar"></a></div>
  <div *ngIf="logins" class="box-popup-login">
    <div class="modal box-login">
          <div class="box-content-login">
  
              <h3 [ngClass]="{'colorCuida': message === 'aviva-cuida', 'colorCura' : message === 'aviva-cura', 'colorAviva' : message === 'home' || message === 'reserva-doctor'}">INGRESA TUS DATOS</h3>
  
              <!-- INPUT EMAIL -->
              <div class="box-input" [ngClass]="{'box-input-load': loaderSession, 'box-input-error' : serviceError}">
                <label [ngClass]="{ 'input-active' : email != '' }">Correo electrónico</label>
                <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="email" (keyup)="onkeyEmail()" (blur)="onkeyBlurEmail()">
                <div *ngIf="validate" [ngClass]="{'icon2 check': emailValidate, 'icon error': emailValidate === false}"></div>
              </div>
  
              <!-- INPUT PASS -->
              <div class="box-input" [ngClass]="{'box-input-load': loaderSession, 'box-input-error' : serviceError}">
                <label [ngClass]="{ 'input-active' : password != '' }">Contraseña</label>
                <input [disabled]="loaderSession" autocomplete="off" type="password" [(ngModel)]="password" (keyup)="onkeyPass()">
                <span *ngIf="serviceError" class="notifiValidate">El correo y la contraseña no corresponden. Por favor, vuélvalo a intentar</span>
                <div *ngIf="validatePasss" [ngClass]="{'icon2 check': passValidate, 'icon error': !passValidate}"></div>
              </div>
  
              <button [disabled]="ValidateInputs()" *ngIf="!loaderSession" mat-raised-button color="primary" (click)="login($event)">INGRESAR</button>
              <div *ngIf="loaderSession" class="preloader">
                  <mat-progress-spinner
                  [color]="color"
                  [mode]="mode" [diameter]="30">
                  </mat-progress-spinner>
              </div>
  
              <a class="sub" (click)="showRecovPass()">OLVIDÉ MI CONTRASEÑA</a>
              <div *ngIf="message === 'home'" class="box-create-acount-home">
                <div class="box-background"></div>
                <h3 class="colorCuida">¿ERES NUEVO?</h3>
                <button  mat-raised-button color="primary" (click)="showModalRegister()">CREAR CUENTA</button>
              </div>
          </div>
    </div>
    
  </div>
  
    
  
  </div>
  <div *ngIf="showRegister">
    <app-register-modal></app-register-modal>
  </div>
  <div *ngIf="recoverPassword">
      <div class="modal box-login">
          <div class="box-content-login">
  
              <h3 [ngClass]="{'colorCuida': message === 'aviva-cuida', 'colorCura' : message === 'aviva-cura', 'colorAviva' : message === 'home' || message === 'reserva-doctor'}">¿OLVIDASTE TU CONTRASEÑA?</h3>
              <p>Te enviaremos un correo para que puedas recuperarla</p>
  
              <!-- INPUT EMAIL -->
              <div class="box-input" [ngClass]="{'box-input-load': loaderSession, 'box-input-error' : serviceError}">
                <label [ngClass]="{ 'input-active' : email != '' }">Correo electrónico</label>
                <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="email" (keyup)="onkeyBlurEmail()">
                <div *ngIf="validate" [ngClass]="{'icon2 check': emailValidate, 'icon error': emailValidate === false}"></div>
                <span *ngIf="serviceError" class="notifiValidate">El correo no esta registrado en el sistema</span>
              </div>
              <br>
              <button [disabled]="!emailValidate" *ngIf="!loaderSession" mat-raised-button color="primary" (click)="sendRecover()">ENVIAR</button>
              <div *ngIf="loaderSession" class="preloader">
                  <mat-progress-spinner
                  [color]="color"
                  [mode]="mode" [diameter]="30">
                  </mat-progress-spinner>
              </div>
  
          </div>
      </div>
    </div>
  
  <!-- 
  <div mat-dialog-actions>
    <button mat-button (click)="onClickNo()">NO</button>
    <button mat-button [mat-dialog-close]="true">SI</button>
  </div> -->
  