<div class="cabecera">
    <app-cabecera-interna></app-cabecera-interna>
  </div>
  <div class="containerPage">
      <section class="box-doctores aviva-cuida-section content-box-info container-fluid" @fadeIn>
          <div class="row">
        
            <div class="col-12 col-lg-4 padding">
              <div class="box-header">
                <!-- <p><span class="main-letter">Hola,</span> <br>en base al motivo de tu consulta, <span class="strong">escoge el servicio donde deseas ser atendido</span></p> -->
                <p class="docs">Para <span class="strong title-title">{{ speciallty }}</span> tenemos los siguientes doctores(as) disponibles</p>
                <div class="vector-orange">
                  <div class="circle"></div>
                </div>
                <div class="vector-orange-horizontal">
                  <div class="circle"></div>
                </div>
              </div>
              <h6 class="textoDias">La agenda disponible es para las siguientes dos semanas considerando desde el día de hoy.</h6>
            </div>
        
            <div class="col-12 col-lg-7 offset-lg-1">
              <section class="content-box-info box-doctor">
                <div class="box-specialty">
                  <h2>ELIGE A TU ESPECIALISTA Y UN HORARIO EN BASE A TU DISPONIBILIDAD</h2>
                </div>
                <p *ngIf="preloader === false" class="text-small"><span class="strong">{{manyBoxes}} especialistas</span>
                  disponibles</p>
        
                <div class="preloader" *ngIf="preloader === true">
                  <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="70">
                  </mat-progress-spinner>
                  <br>
                  <br>
                  <p class="text-small">Estamos cargando la lista de doctores</p>
                </div>
                <!-- BOXES DOCTORS -->
                <div class="container-boxes">
                  <div *ngFor="let item of dataDoctors; let itemDoctor = index;">
                    <div class="box-main-content">
                      <div class="box-m box-content">
                        <div class="box-grey-top">
                          <div class="box-info">
                            <div class="box-photo">
                              <img src="{{ urlBase + item.imageUrl }}" alt="" />
                            </div>
                            <div class="box-content-info">
                              <h3>{{item.apellido1}} {{item.apellido2}} {{item.nombre}}</h3>
                              <!-- <p *ngIf="item.info.almaMater ">{{item.info.almaMater}}</p> -->
                              <a (click)="openLogin(item)">Ver perfil profesional</a>
                            </div>
                          </div>
                        </div>
                        <div class="box-grey-bottom">
                          <div class="box-calendar no-border">
                            <p>Selecciona un día para ver las horas disponibles</p>
                            <ul>
                              <li (click)="stateShow(itemDoctor, index)"
                                [ngClass]="{'active': boxCaID === index && itemDoctor === boxID }"
                                *ngFor="let items of item.availabel_days; let index = index">
                                <div class="box-day" id="{{'Elige_Dia_Doctor_' + bloque + '_BC'}}" (click)="stateShow(itemDoctor, index, items)">{{items.fecha | date:'dd'}}</div>
                                <span>{{items.fecha | date:'EE' | slice:0:3}}</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div style="overflow: hidden;" *ngFor="let itemss of item.availabel_days; let ii = index">
                        <div *ngIf="itemDoctor === boxID && boxCaID === ii" id="{{ii}}" class="box-hour">
                          <p *ngIf="hours.length > 0">Selecciona la hora en la que desees la cita</p>
                          <div class="preloader" *ngIf="chargeHours === true" style="margin-top:-50px;">
                            <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="25">
                            </mat-progress-spinner>
                            <br>
                            <p class="text-small">Estamos cargando las horas disponibles</p>
                          </div>
                          <div class="box-hour-main">
                            <div *ngFor="let items of hours; let indexxx = index"><span
                      
                              class='activo'><a id="{{'Elige_Hora_' + bloque + '_BC'}}"
                                (click)="redirectTo(item,items)">{{items.datetime | date:'h:mm'}}</a></span>
                          </div>
                          </div>
                        </div>
                        <!--  <div *ngIf="itemDoctor === boxID && boxCaID === ii" id="{{i}}" class="box-hour-tele">
                          <p class="titleHorarioTel">Horario disponible Teleconsulta</p>
                          <div class="box-hour-main" >
                            <div *ngFor="let items of itemss.hours.hour; let indexxx = index">
                              <span id="{{'span-elegir-doctor-horaydia-'+item.service.idTraking}}" [ngClass]="{'activo': itemss.hours[indexxx].isAvailable === true, 'desactive': itemss.hours[indexxx].isAvailable === false}">
                                <a (click)="redirectTo(indexxx, ii, itemDoctor, itemss.hours[indexxx].params.provisionId, items)">{{items}}</a>
                              </span>
                            </div>
                          </div>
                      </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- BOXES DOCTORS -->
                <div (click)="backLink()" class="button-back">
                  <img src="assets/img/sacar-cita/back-page.svg" alt="">
                </div>
              </section>
            </div>
        
          </div>
        </section>
  </div>
  
