.no-border{
    border-radius: 0 !important;
  }
  .containerPage{
    width:95%;
    margin-left:2.5%;
    position: absolute;
    top:120px;
    max-height: 70vh!important;
}
.cabecera{
  width:100%;
  position: absolute;
  top:0;
  left:0;
}
.aviva-cuida-section{
  background: #20668B;
  min-height: 83vh!important;
  height: auto!important;
  padding-bottom: 20px!important;
}

.textoDias{
  color:#fff;
  margin-left:150px;
  font-size:1.8em;
  width:65%;
  margin-top:150px;
  font-weight: 400;
}