
 .textoIndicaciones{
    width: 90%;
    margin-left:5%;
    color:#97a3aa;
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
  }
  ion-content{
    form{
      width:95%;
      margin-left: 2.5%;
    }
  }