button{
    width:200px;
    margin-left: calc(50% - 100px);
    background: #28b5b5;
}
h3{
    color:#126e82;
    font-size:1.2em;
    text-align: center;
}
p{
    color:#afb9c8;
    width: 80%;
    margin-left:10%;
    text-align: center;
    margin-top:20px;
}