/* You can add global styles to this file, and also import other style files */
// Base
@import "sass/base/index";

// Components
@import "sass/components/index";

// Layout
@import "sass/layout/index";

// Pages
@import "sass/pages/index";

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.cdk-overly-pane{
    width:1600px!important;
  }
  mat-keyboard-container{
    min-width:1100px!important;
    min-height: 280px;
    margin-left:150px!important;
  }
  mat-keyboard{
    width:1450px!important;
    min-height: 280px!important;
  }
  .mat-keyboard-wrapper{
    min-width:1450px!important;
    width: 1450px;
    height: 260px!important;
  }
  .mat-keyboard-layout{
    min-width:1400px!important;
    width: 1400px!important;
    height: 230px!important;
  }